<section class="main">
  <div class="board" *ngIf="data">
    <div *ngIf="data.current" class="current">
      <img class="current__img current__item current__item_none" src={{data.current.icon}} alt="weather">
      <div class="current__temp current__item"><span class="current__value">{{data.current.temp}}</span><span
          class="current__cel">°C</span>
      </div>
      <div class="current__name current__item">{{data.current.name}}, {{data.current.date}}</div>
      <div class="current__feel current__item current__item_none">Feel like {{data.current.feelsLike}}°C</div>
      <div class="current__block current__item">
        <img class="current__small-icon" src={{data.current.icon}} alt="icon">
        <div>{{data.current.weather}}</div>
      </div>
      <div class="current__block current__item">
        <img class="current__item_none" src="./assets/icons/map_black_24dp.svg" alt="map">
        <div>{{data.current.timezone}}</div>
      </div>
    </div>
    <div class="cards">
      <div class="cards__title">Week</div>
      <div class="week">
        <div class="week__item" [ngClass]="{'active': i === dayActiveIndex}"
          *ngFor="let item of data.week; let i = index" (click)="changeActiveDay(i)">
          <div class="week__title">{{item.name}}</div>
          <img class="week__img" src={{item.icon}} alt="weather">
          <div class="week__temp">
            <div class="week__max">{{item.max}}°&nbsp;</div>
            <div class="week__min">{{item.min}}°</div>
          </div>
        </div>
      </div>
      <div class="cards__title">Today`s Highlights</div>
      <div *ngIf="dayActive" class="highlights">
        <div class="highlights__item">
          <div class="highlights__title">UV Index</div>
          <img class="highlights__img" src="./assets/2682806_light_radiation_rays_sun_ultraviolet_icon.svg" alt="uvi">
          <div class="highlights__value">{{dayActive.uvi}}</div>
        </div>
        <div class="highlights__item">
          <div class="highlights__title">Wind</div>
          <img class="highlights__img" src="./assets/379360_wheel_wind_icon.svg" alt="wind">
          <div class="highlights__value">{{dayActive.windDeg}}</div>
        </div>
        <div class="highlights__item">
          <div class="highlights__title">Wind Speed</div>
          <img class="highlights__img" src="./assets/5296654_carp_fish_flag_japan_japanese_icon.svg" alt="speed">
          <div class="highlights__value">{{dayActive.windSpeed}}m/s</div>
        </div>
        <div class="highlights__item">
          <div class="highlights__title">Humidity</div>
          <img class="highlights__img" src="./assets/1054937_water_drop_icon.svg" alt="humidity">
          <div class="highlights__value">{{dayActive.humidity}}%</div>
        </div>
        <div class="highlights__item">
          <div class="highlights__title">Clouds</div>
          <img class="highlights__img" src="./assets/4908731_cloud_fog_season_sky_weather_icon.svg" alt="clouds">
          <div class="highlights__value">{{dayActive.clouds}}%</div>
        </div>
        <div class="highlights__item">
          <div class="highlights__title">Precipitation</div>
          <img class="highlights__img" src="./assets/1378826_house_umbrella_blue_protection_rain_icon.svg" alt="prec">
          <div class="highlights__value">{{dayActive.pop*100}}%</div>
        </div>
      </div>
    </div>

  </div>
</section>